nav {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    font-family: 'Share Tech Mono', monospace;
}

a {
    scroll-behavior: smooth;
}



body {
    font-family: 'Share Tech Mono', monospace;
    width: 100vw;
    height: 100vh;
    margin: 0;
  
}

#main {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}

section {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold
}

#custom-brand {
    color: rgb(117, 31, 237);
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid;
    padding-bottom: 0;

}

#me {
    height: 15rem;
    width: auto;
    background-color: transparent;
}

#introbutton {
    background-color: rgb(117, 3, 237);
}

#jumbotron {
    background-color: #f8f9fa;
    height: auto;
}

#about {
    height: auto;
}

.custom-card {
  background-color: #f8f9fa;
  height: 65vh;
  width: 100%;
}

#card-img {
    width: 100%;
    height: 25vh;
    object-fit: contain;
}

.carousel-inner {
    width: 100%;
    height: 50vh;
}

#caroimg {
    width: 100%;
    height: 50vh;
    object-fit: contain;
}

.carousel-item {
    height: 32rem;
    background-color: #f8f9fa;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}


#carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;

}

#prjbutton {
    background-color: rgb(117, 3, 237);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(117, 3, 237);
  border-color: rgb(117, 3, 237);
}

.overlay-image {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}



#prjCarousel .carousel-indicators li {
    background-color: rgb(117, 3, 237);

}

.contact-form {
    background-color: #f8f9fa;
  }
  
  .form-group {
    padding-bottom: 20px;
  }
  
  .form-element {
    background-color: #f8f9fa;
    border: 1px solid rgb(170, 0, 255);
  
  }

  #contactsubmit {
    background-color: rgb(117, 3, 237);
  }
